
.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f0f2f5; 
  }
  
  form {
    background: #fff; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px; 
    max-width: 100%;
  }
  
  label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    color: #333;
  }
  
  label input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  

  .btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn button:hover {
    background-color: #0056b3;
  }
  
  .btn button[type="submit"] {
    background-color: #28a745;
  }
  
  .btn button[type="submit"]:hover {
    background-color: #218838;
  }
  